body {
    background: #72865B;
    font-family: 'Courier New', Courier, monospace, 'Times New Roman', Times, serif;
    margin: 40px;
    }
    h1 {
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #e7f1dd;
    border-style: dotted;
    border-width: .15em;
    border-radius: 25px;
    border-color: #FFCDCD;
    }
   
    h2 {
    color: #e7f1dd;
    }
    p {
    color: #e7f1dd;
    }